
vault/

crypto_ubuntu.pem

# IntelliJ project files

.idea
*.iml
out
gen
.idea/dataSources.local.xml
.idea/workspace.xml
__pycache__/
data
data/
data/*
data/celery/
data/flower/
data/postgres/pg_commit_ts/
data/postgres/pg_dynshmem/
data/postgres/pg_logical/mappings/
data/postgres/pg_logical/snapshots/
data/postgres/pg_replslot/
data/postgres/pg_serial/
data/postgres/pg_snapshots/
data/postgres/pg_stat/
data/postgres/pg_tblspc/
data/postgres/pg_twophase/
data/postgres/pg_wal/archive_status/

app/backend/flask_app/__pycache__/
app/backend/flask_app/migrations/__pycache__/
app/backend/flask_app/migrations/versions/__pycache__/
app/backend/flask_app/src/__pycache__/
app/backend/flask_app/src/library/__pycache__/
app/backend/flask_app/src/resources/__pycache__/
/env/development-secrets.env
/env/development.env
/env/production-secrets.env
app/logs/*
app/tmp/celerybeat.pid
